body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f6d7a7;
    color: #000;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .header h1 {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 700; /* Bold weight */
  }
  
  .main-content {
    display: flex;
    background-color: #333;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
    color: #f6d7a7;
  }
  
  .book {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-image {
    max-width: 200px;
    border-radius: 5px;
  }
  
  .book-info {
    flex: 1;
    text-align: left;
    margin-left: 2rem;
  }
  
  .book-info h2 {
    font-size: 2rem;
    font-weight: 600; /* Bold weight */
  }
  
  .book-info p {
    font-size: 1.2rem;
    font-weight: 400; /* Regular weight */
  }
  
  .buy-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f6;
    color: #333;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .buy-button:hover {
    background-color: #ddd;
  }