body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f6d7a7;
    color: #000;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .header h1 {
    font-size: 4rem;
    letter-spacing: 10px;
    /* margin-top: 2rem; */
    font-weight: bold;
    padding-bottom: 100px;
    padding-top: 40px;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323433;
    padding: 2rem;
    width: 100vw; /* Розтягує на ширину екрана */
    color: #f6d7a7;
    max-height: 250px;
  }
  
  .book {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .book-image {
    max-height: 400px;
    margin-right: 44px;
  }
  
  .book-info {
    text-align: left;
    margin-right: 100px;
  }
  
  .book-info h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
  }
  
  .book-info p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
  }
  
  .buy-button {
    background-color: #CED0CF;
    color: #323433;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 16px;
  }
  
  .buy-button:hover {
    background-color: #ffffff;
  }

  .social {
    /* margin: 24px; */
    position: fixed;
    top: 24px;
    right: 24px;
  }

  .social-icon {
    max-width: 24px;
    max-height: 24px;
    margin-left: 8px;
  }
  
  .social-icon2 {
    max-width: 24px;
    max-height: 24px;
    margin-right: 6px;
  }